<html>
	<head>
		<title>Calculation</title>
	</head>
	<body>
		<div align="center">
			<h1>DATA SUBMIT PAGE</h1>
		</div>

		<form align="center" name="DataInput" method="POST" id="form_input" >
			<br>
			<b>Air Indicators</b>
			<br>
			<br>
			ind_01 &nbsp
			<input type="number" name="ind_01">
			<br>
			ind_02 &nbsp
			<input type="number" name="ind_02">
			<br>
			ind_03 &nbsp
			<input type="number" name="ind_03">
			<br>
			ind_04 &nbsp
			<input type="number" name="ind_04">
			<br>
			ind_05 &nbsp
			<input type="number" name="ind_05">
			<br>
			ind_06 &nbsp
			<input type="number" name="ind_06">
			<br>
			ind_07 &nbsp
			<input type="number" name="ind_07">
			<br>
			<br>
			<input id="btn_submit" type="submit" name="submit button" value="Submit">
		</form>
		<div id="json_displayer">#</div>
			
		<script src="caculation_test.js"></script>

	</body>
</html>
