<html>
<head><title>Registeration</title>
</head>
<body>
	<center><h1>REGISTERATION PAGE</h1></center>
<form action="/register" method="POST" name="login"id="login">
<br>
User<br>
First Name &nbsp<input type="text" name="contact_firstname"><br>
Last Name &nbsp<input type="text" name="contact_lastname"><br>
Password &nbsp<input type="text" name="password"><br>
EMAIL &nbsp<input type="text" name = "email">
<br>
<br>
<br>
	City<br>
	city name<input type="text" name = "city_name"><br>
	city abbreviation<input type="text" name = "city_abbre"> (Used for a better looking URL link)<br>
	council_name<input type="text" name = "council_name"><br>
	state<input type="text" name = "state"><br>
	country<input type="text" name = "country"><br>
	postcode<input type="text" name = "postcode"><br>
	area<input type="text" name = "area">(in km square)<br>
	population<input type="text" name = "population"><br>
	contact_email<input type="text" name = "contact_email"><br>
	contact_number<input type="text" name = "contact_number"><br>
	council_address<input type="text" name = "council_address"><br>

<input type="submit" name="REGISTER" value="REGISTER">
</body>
</html>
