<html>
<head><title>Registeration</title>
</head>
<body>
	<center><h1>REGISTERATION PAGE</h1></center>
<form action="/register" method="POST" name="login"id="login">
<br>

User Name &nbsp<input type="text" name="user_name">
<br>
<br>
CITY ID &nbsp<input type="text" name = "city_id_admin">
<br>
<br>
Password &nbsp<input type="text" name="password">
<br>
<br>
Confirm password &nbsp<input type="text" name="confirmPassword">
<br>
<br>
EMAIL &nbsp<input type="text" name = "email">
<br>
<br>
<input type="submit" name="REGISTER" value="REGISTER">
</body>
</html>
